build/
__pycache__/
.idea/
.vscode
*.pyc
*.egg-info

# Python coverage files
.coverage
.coverage.*
.cache
.cache/
coverage.xml
coverage_html/
htmlcov/

# Local data
sample_data/*
output/*
logs/*
.DS_Store

# Quarto docs build
docs/_site/
docs/.quarto/
docs/reference/
